.auth-container > .row {
    margin: 10px;
    padding: 10px;

    & > div {
        padding: 30px;
    }

    & > :last-child {
        border-left: lightgray solid 1px;

        @include sm-screen {
            border-left: 0;
            border-top: lightgray solid 1px;
        }
    }
}
