{% extends "base.html.twig" %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <h1>Votre Panier</h1>
    <hr/>
    <div class="alert alert-warning" id="empty-cart-alert">
        <i class="fas fa-exclamation-triangle"></i> Votre panier est vide
    </div>
    <ul class="list-group" id="cart-items">
    </ul>
{% endblock %}

{% block javascripts %}
    <script>{% include "product/cart.js" %}</script>
{% endblock %}