<footer>
  <hr/>
    <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Nom du site
          </h6>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis libero porro facilis dicta tempore accusamus non saepe eveniet, culpa, totam ad, eos neque doloremque maiores facere ipsa magni vitae eligendi.
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-2 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> 12 rue du test, 12345 Ville, France</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@nom-du-site.com
          </p>
          <p><i class="fas fa-phone me-3"></i> 03 12 34 56 78</p>
          <p><i class="fas fa-mobile-alt me-3"></i> 07 12 34 56 78</p>
          <div class="d-flex justify-content-around">
            <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-link"><i class="fab fa-tiktok"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="#">nom-du-site.com</a>
  </div>
</footer>