{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
<div class="auth-container">
    <div class="row align-flex-center">
    {% if app.request.query.get("loginError") != null %}
        <div class="alert alert-danger">
            La connexion à échoué. <br />
            {{ app.request.query.get("loginError") | trans }}
        </div>
    {% endif %}
    {% if app.request.query.get("emailAlreadyUse") != null %}
        <div class="alert alert-danger">
            L'adresse email est déja utilisé.
        </div>
    {% endif %}
    {% if app.request.query.get("registrationSuccess") != null %}
        <div class="alert alert-success">
            Votre compte à été créer.
        </div>
    {% endif %}
        <div class="col-12 col-md-6">
            <h2 class="text-center">Connexion</h2>
            {{ form(loginForm, {"attr": {"action": path("auth_login")}}) }}
            <a href="{{ path('auth_resetPasswordForm') }}">Mot de passe oublié</a>
        </div>
        <div class="col-12 col-md-6">
            <h2 class="text-center">Inscription</h2>
            {{ form(registerForm, {"attr": {"action": path("auth_register")}}) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>{% include "auth/auth.js" %}</script>
{% endblock %}
