{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
<div class="auth-container d-flex justify-content-center align-items-center">
    <div class="row align-flex-center">
        <div class="col-12 col-sm-6">
            <h2 class="text-center">Connexion</h2>
            {{ form(loginForm, {"attr": {"action": "/auth/login"}}) }}
        </div>
        <div class="col-12 col-sm-6">
            <h2 class="text-center">Inscription</h2>
            {{ form(registerForm, {"attr": {"action": "/auth/register"}}) }}
        </div>
    </div>
</div>
{% endblock %}
