{% extends "base.html.twig" %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1>Entrer votre nouveau mot de passe</h1>
    <hr />

    {{ form(form, {attr: {action: path("auth_finalizeResetPassword", {id: id, code: code})}}) }}
{% endblock %}