{% extends "base.html.twig" %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    <h1>Modifier le mot de passe</h1>
    <hr/>

    {% if app.request.query.get("wrongCurrentPassword") != null %}
        <div class="alert alert-danger">Le mot de passe actuelle est incorect.</div>
    {% endif %}

    {{ form(form) }}

    {# <form action="{{ path('user_updatePassword') }}" method="post">
        <div class="mb-3">
            <label class="form-label" for="currentPassword">Mot de passe actuelle</label>
            <input class="form-control" id="currentPassword" name="currentPassword" type="password" onChange="validate();">
        </div>
        <div class="mb-3">
            <label class="form-label" for="newPassword">Nouveau mot de passe</label>
            <input class="form-control" id="newPassword" name="newPassword" type="password" onChange="validate();">
        </div>
        <div class="mb-3">
            <label class="form-label" for="newPasswordConfirm">Confirmation du nouveau mot de passe</label>
            <input class="form-control" id="newPasswordConfirm" name="newPasswordConfirm" type="password" onChange="validate();">
        </div>
        <button class="btn btn-primary" id="submit" type="submit">Modifier le mot de passe</button>
    </form> #}
{% endblock %}

{% block javascripts %}
    <script>{% include "user/updatePassword.js" %}</script>
{% endblock %}