{% extends "base.html.twig" %}

{% block title %}Mettre à jour le mot de passe{% endblock %}

{% block body %}
<div class="container mt-3">
    <h1>Mettre à jour le mot de passe</h1>

    <form action="{{ path('user_updatePassword') }}" method="post">
        <div class="mb-3">
            <label class="form-label" for="newPassword">Nouveau mot de passe</label>
            <input class="form-control" id="newPassword" name="newPassword" type="password" onChange="validate">
        </div>
        <div class="mb-3">
            <label class="form-label" for="newPasswordConfirm">Confirmation du nouveau mot de passe</label>
            <input class="form-control" id="newPasswordConfirm" name="newPasswordConfirm" type="password" onChange="validate">
        </div>
        <button class="btn btn-primary" id="submit" type="submit">Modifier le mot de passe</button>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    <script>{% include "user/updatePassword.js" %}</script>
{% endblock %}